ARCH_CFLAGS  = \
	-march=rv64ima \
	-mabi=lp64 \
	-mcmodel=medany \
	-ffunction-sections \
	-fdata-sections \
	-fno-stack-protector \
	-nostdinc \
	-Wall \
	-Werror \
	-Wno-main \
	-Wformat-truncation=0 \
	-pipe \
	-std=c11 \
	#	-Wextra \



ARCH_LDFLAGS = \
	-nostdlib \
	-nostartfiles \
	-static \
	-lgcc \
	-Wl,--nmagic \
	-Wl,--gc-sections \
